<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Login page</title>
<style>
.alert-danger {
	color: red;
}
</style>
<script type="text/javascript">
	function selectSlcResult(slcStatusDtlId) {


		if (slcStatusDtlId >= 3 && slcStatusDtlId <= 5) {
			document.getElementById('slcResult').value = slcStatusDtlId;
		} else {
			document.getElementById('slcResult').value = '0';
		}
	}
</script>
</head>
<body th:onload="selectSlcResult([[${candidate.slcStatusDtl.slcStatusDtlId}]])">
	<h2>選考情報変更画面</h2>

	<form th:action="@{/recruit/candidates/selection}" th:method="post" th:object="${candidate}">
		<div>
			<label>ID</label>
			<div th:text="*{candidateId}">/</div>
		</div>
		<div>
			<label>候補者</label>
			<div th:text="*{candidateName}">/</div>
		</div>
		<div>
			<label>採用エージェント</label>
			<div th:text="*{agent.agentName}"></div>
		</div>
		<div>
			<label>選考ステータス</label>
			<div th:text="*{slcStatus.slcStatusName}"></div>
		</div>
		<div>
			<label>選考日程</label>
			<input type="text" name="slcDateString" th:value="${slcDateString}" />
		</div>

		<div>
			<label>選考結果</label>
			<select name="slcResult" id="slcResult">
				<option value="0" selected>保留</option>
				<option value="3">合格</option>
				<option value="4">不合格</option>
				<option value="5">辞退</option>
			</select>
		</div>

		<input type="hidden" th:field="${selection.slcPK.candidateId}" />
		<input type="hidden" th:field="${selection.slcPK.slcStatusId}" />
		<input type="submit" value="更新"/>
	</form>
</body>
</html>