<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>候補者情報変更画面</title>
<style>
.alert-danger {
	color: red;
}
</style>
<script type="text/javascript" th:inline="javascript">
	//選考ステータス詳細（全件）
	var slcStatusDtlAll = [];
	var slcReferrerAll = [];
	//紹介元（全件）
	var agentAll = [];

	function setEduBack(){
		var radioButtons = document.getElementsByName('eduBackCheck');
		var educationalBackgroundId = /*[[${candidate.educationalBackground.educationalBackgroundId}]]*/
			if(educationalBackgroundId == 0){
				radioButtons[0].checked = true;
			}else{
				radioButtons[1].checked = true;
			}
		changeEduBack()
	}
	//ラジオボタンの選択ごとに、表示、非表示対象を切り替える
	function changeEduBack(){

		//ラジオボタンのオブジェクト取得
		var radioButtons = document.getElementsByName('eduBackCheck');
		//直接記入のオブジェクト取得
		var eduBack = document.getElementById("eduBack");
		//マスタ選択のオブジェクト取得
		var eduBackDtl = document.getElementById("eduBackDtl");

		//直接記入欄とマスタ選択欄のCSS適用変更
		if(radioButtons[0].checked){
			eduBack.style.display ="block";
			eduBackDtl.style.display ="none";
		}else if(radioButtons[1].checked){
			eduBack.style.display ="none";
			eduBackDtl.style.display ="block";
		}
	}

	/**
	 * ロード時、選考ステータス詳細検索のドロップダウンの初期設定
	 *
	 */
	 function setFirstSlcStatusDtl() {
		//選考ステータス詳細の情報を取得
		[# th:each="slcStatusDtl: ${slcStatusDtlList}"]
			var slcStatusDtl = {id:/*[[${slcStatusDtl.slcStatusDtlId}]]*/, name:/*[[${slcStatusDtl.slcStatusDtlName}]]*/,
				flag:/*[[${slcStatusDtl.slcStatusFlag}]]*/};

			slcStatusDtlAll.push(slcStatusDtl);
		[/]

		//選考参照情報を取得
		[# th:each="slcReferrer: ${slcReferrerList}"]
			var slcReferrer = {id:/*[[${slcReferrer.selectionReferrerId}]]*/, slcId:/*[[${slcReferrer.slcStatus.slcStatusId}]]*/,
				slcName:/*[[${slcReferrer.slcStatus.slcStatusName}]]*/, slcDtlId:/*[[${slcReferrer.slcStatusDtl.slcStatusDtlId}]]*/,
				slcDtlName:/*[[${slcReferrer.slcStatusDtl.slcStatusDtlName}]]*/};

			slcReferrerAll.push(slcReferrer);
		[/]

		//選考ステータス詳細検索のドロップダウンを設定
		setSlcStatusDtl() ;

		//選考ステータス詳細検索のドロップダウン
		var slcStatusDtl = document.getElementById("slcStatusDtl");
		//ドロップダウンを保持された検索条件と同じ値を選択
		for (var i = 0; i < slcStatusDtl.length; i++) {
			if (slcStatusDtl[i].value == /*[[${candidate.slcStatusDtl.slcStatusDtlId}]]*/) {
				slcStatusDtl[i].selected = true;
			}
		}
	}

	 /**
		 * 選考ステータス詳細検索のドロップダウンを設定
		 *
		 */
		 function setSlcStatusDtl() {
			//選考ステータス検索の選択値
			var selectedSlcStatus = document.getElementById("slcStatus").value;
			//選考ステータス詳細検索のドロップダウン
			var slcStatusDtl = document.getElementById("slcStatusDtl");
			//ドロップダウンの設定値（共通項目設定済）
			var slcStatusDtlList = [];//[{id:0, name:"一覧"}];

			/*
			if (selectedSlcStatus == 0) {
				//選考ステータス検索の選択値が「一覧」の場合、全ての選考ステータス詳細を追加
				for (var i = 0; i < slcStatusDtlAll.length; i++) {
					slcStatusDtlList.push(slcStatusDtlAll[i]);
				}
			}
			if (selectedSlcStatus == 0) {
				//選考ステータス詳細検索のドロップダウンに値を設定
				 for (var i = 0; i < slcStatusDtlList.length; i++) {
					var op = document.createElement("option");
					op.value = slcStatusDtlList[i].id;
					op.text = slcStatusDtlList[i].name;
					slcStatusDtl.appendChild(op);
				}
			}else{
			*/
				//選考参照情報に基づいて選考ステータス詳細を設定
				for (var i = 0; i < slcReferrerAll.length; i++) {
					if(selectedSlcStatus == slcReferrerAll[i].slcId){
						slcStatusDtlList.push(slcReferrerAll[i]);
					}
				}

			//選考ステータス詳細検索のドロップダウンを初期化
			 slcStatusDtl.textContent = null;


				//選考ステータス詳細検索のドロップダウンに値を設定
				 for (var i = 0; i < slcStatusDtlList.length; i++) {

						var op = document.createElement("option");
						op.value = slcStatusDtlList[i].slcDtlId;
						op.text = slcStatusDtlList[i].slcDtlName;
						slcStatusDtl.appendChild(op);

				}
		}

	/**
	 * ロード時、及びエージェント選択時に紹介料表示
	 *
	 */
	function setFirstReferrer() {

		//エージェントの情報を取得
		[# th:each="agent: ${agentList}"]
			var agent = {agentId:/*[[${agent.agentId}]]*/, agentName:/*[[${agent.agentName}]]*/,
				agentFee:/*[[${agent.agentFee}]]*/};
				agentAll.push(agent);
		[/]
		//紹介料を設定
		showAgentFee();
	}

	/**
	 * 紹介料を表示
	 *
	 */
	function showAgentFee() {
		//紹介料
		var agentFee = document.getElementById("referrerFee");
		//選択されたエージェントID
		var selectedAgentId = document.getElementById("agentId").value;

		//取得している紹介元（全件）の紹介元IDと選択された紹介元IDが一致する紹介料を表示
		for (var i = 0; i < agentAll.length; i++) {
			if (agentAll[i].agentId == selectedAgentId) {
				agentFee.textContent = agentAll[i].agentFee + "万円";
				break;
			}
		}
	}
	//既存登録日程
	var firstDate = [];
	var slcDateAll = [];
	//現在の選考日程情報を格納
	function setSelectionDate(){
		[# th:each="selection: ${selectionList}"]
		var selection = {slcDate:/*[[${selection.slcDate}]]*/, slcStatusId:/*[[${selection.slcStatusId}]]*/,
			candidateId:/*[[${selection.candidateId}]]*/};
			slcDateAll.push(selection);
		[/]

		firstDate = {slcDate:/*[[${slcDate}]]*/,slcStatusId:/*[[${candidate.slcStatus.slcStatusId}]]*/}
	}
	//選考ステータスに応じて日程情報を変更する
	function changeSelectionDate(obj){
		var changedDate = document.getElementById("slcDate");
		var slcstatus = document.getElementById("slcStatus");
		var matchCount = 0;

		if(obj.value != firstDate.slcStatusId){
			//alert('動作確認' + slcDateAll.length);
			for (var i = 0; i < slcDateAll.length; i++){
				if(obj.value == slcDateAll[i].slcStatusId){
					changedDate.value = slcDateAll[i].slcDate;
					//alert('動作確認' + slcDateAll[i].slcDate);
					break;
				}else{
					matchCount++;
				}
			}
			if(matchCount == slcDateAll.length){
				changedDate.value = null;
			}
		}else if(obj.value == firstDate.slcStatusId){
			changedDate.value = firstDate.slcDate;
			//alert('動作確認' + firstDate.slcDate);
		}
	}

	/**
	 * 更新確認
	 *
	 */
	function confirmUpdateCandidate() {
		//ラジオボタンのオブジェクト取得
		var radioButton = document.getElementsByName('eduBackCheck');
		var university = document.getElementById("university");
		var faculty = document.getElementById("faculty");
		var department = document.getElementById("department");
		var eduBack = document.getElementById("eduBack");
		var universityRank = document.getElementById("universityRank");
		var candidateName = document.getElementById("candidateName");
		var stringeduBack = "";
		stringeduBack += eduBack.value;
		var stringName = "";
		stringName += candidateName.value;
		for (var i = 0; i < eduBack.value.length; i++) {
			stringeduBack = stringeduBack.replace(" ","");
			stringeduBack = stringeduBack.replace("　","");
		}
		for (var i = 0; i < candidateName.value.length; i++) {
			stringName = stringName.replace(" ","");
			stringName = stringName.replace("　","");
		}
		//alert(stringName.replace("a",""));
		if(radioButton[1].checked && (university.value == 0 || faculty.value == 0 || department.value == 0)){
			alert('大学・学部・学科全てを選択してください');
			return false;
		}else if(radioButton[0].checked && stringeduBack == ""){
			alert('学歴を記入してください');
			return false;
		}else if(stringName == ""){
			alert('候補者氏名を記入してください');
			return false;
		}else if(universityRank.value == 0){
			alert('大学ランクを選択してください');
			return false;
		}else{
			if(window.confirm("この内容で更新しますか？")){
				return true;
			} else{
				return false;
			}
		}
	}

	/**
	 * 削除確認
	 *
	 */
	function confirmDeleteCandidate() {
		if(window.confirm("候補者情報を削除しますか？")){
			return true;
		} else{
			return false;
		}
	}



</script>

</head>
<body
	onload="setFirstSlcStatusDtl(); window.opener.location.reload();setEduBack();setFirstReferrer();setSelectionDate();">
	<header>
		<img th:src="@{/images/TCLogo.png}">
	</header>
	<h2>候補者情報変更画面</h2>

	<!-- 2020/07/14 鶴 135,139,143,147,152 文字数最大制限と未入力チェックを追加  -->
	<form th:action="@{/recruit/candidates/update}" th:method="post"
		th:object="${candidate}" onsubmit="return confirmUpdateCandidate()">
		<div>
			<label>ID:</label> <span th:text="*{candidateId}"></span>
			<input type="hidden" th:field="*{candidateId}" maxlength="5">
			<input type="hidden" th:field="*{deleteFlag}"/>
		</div>
		<div>
			<label>候補者:</label> <input type="text" th:field="*{candidateName}"
				maxlength="20" required />
		</div>
		<div>
			<label>候補者(ふりがな):</label> <input type="text"
				th:field="*{candidateFurigana}" maxlength="40" required />
		</div>
		<div>
			<label>性別:</label> <input type="radio" name="gender" value="1"
				th:field="*{gender}" required />男性 <input type="radio" name="gender"
				value="2" th:field="*{gender}" />女性
		</div>
		<div>
			<label>学歴:</label>
			<input type="radio" name="eduBackCheck" value="1"
				onchange="changeEduBack();" />直接記入
			 <input type="radio"
				name="eduBackCheck" value="2" onchange="changeEduBack();" />マスタ選択 <input
				type="text" th:field="*{eduBack}" maxlength="100" />
			<div id="eduBackDtl">
				<label>大学:</label>
				 <select id="university" name="educationalBackground.university.universityId">
					<option th:each="university:${universityList}"
						th:value="${university.universityId}"
						th:text="${university.universityName}"
						th:selected="${university.universityId == candidate.educationalBackground.university.universityId}"></option>
				</select> <label>学部:</label>
				 <select id="faculty" name="educationalBackground.faculty.facultyId">
					<option th:each="faculty:${facultyList}"
						th:value="${faculty.facultyId}" th:text="${faculty.facultyName}"
						th:selected="${faculty.facultyId == candidate.educationalBackground.faculty.facultyId}"></option>
				</select> <label>学科:</label>
				 <select id="department" name="educationalBackground.department.departmentId">
					<option th:each="department:${departmentList}"
						th:value="${department.departmentId}"
						th:text="${department.departmentName}"
						th:selected="${department.departmentId == candidate.educationalBackground.department.departmentId}"></option>
				</select>
			</div>
			<label>大学ランク:</label>
			<select id="universityRank" name="universityRank.universityRankId">
				<option th:each="universityRank:${universityRankList}"
					th:value="${universityRank.universityRankId}"
					th:text="${universityRank.universityRankName}"
					th:selected="${universityRank.universityRankId == candidate.universityRank.universityRankId}"></option>
			</select>
		</div>

		<div>
			<div>
				<label>選考ステータス:</label> <select id="slcStatus"
					th:field="*{slcStatus.slcStatusId}" onchange="setSlcStatusDtl();changeSelectionDate(this);">
					<option th:each="slcStatus: ${slcStatusList}"
						th:value="${slcStatus.slcStatusId}"
						th:text="${slcStatus.slcStatusName}">
					</option>
				</select>
			</div>
			<div>
				<label>選考ステータス詳細:</label> <select id="slcStatusDtl"
					th:field="*{slcStatusDtl.slcStatusDtlId}">
				</select>
			</div>
			<div>
				<label>選考日程</label>
				<input id="slcDate" type="datetime-local" name="slcDate"  th:value="${slcDate}"/>
			</div>
		</div>
		<div>
			<label>メールアドレス:</label> <input type="email"
				th:field="*{candidateEmailAddress}" maxlength="64" pattern="^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" placeholder="****@ドメイン名" autocomplete="email"/>
		</div>
		<!--
		<div th:if="*{slcStatus.slcStatusId == 1}">
			<label>選考ステータス:</label><span th:text="*{slcStatus.slcStatusName}"></span><input type="hidden" th:field="*{slcStatus.slcStatusId}">
			<select th:field="*{slcStatus.slcStatusId}"><span th:text="*{slcStatusDtl.slcStatusDtlName}"></span><input type="hidden" th:field="*{slcStatusDtl.slcStatusDtlId}">
				<option th:value="1">説明会
				<option th:value="2">書類選考
			</select>
			<input type="hidden" th:field="*{slcStatusDtl.slcStatusDtlId}">
		</div>
		-->

		<div>
			<label>適性検査結果:</label> <select name="aptitude.aptitudeId">
				<option th:each="aptitude:${aptitudeList}"
					th:value="${aptitude.aptitudeId}"
					th:text="${aptitude.aptitudeStatus}"
					th:selected="${aptitude.aptitudeId == candidate.aptitude.aptitudeId}"></option>
			</select>
			 <label>点数:</label>
			 <input type="number" th:field="*{aptitudeScore}" min="0"
				max="100" maxlength="3"/>
		</div>
		<div>
			<label>採用エージェント:</label> <select id="agentId"
				th:field="*{agent.agentId}" onchange="showAgentFee()">
				<option th:each="agent: ${agentList}" th:value="${agent.agentId}"
					th:text="${agent.agentName}"
					th:selected="${agent.agentId == candidate.agent.agentId}">
				</option>
			</select>
		</div>
		<!--
		<div>
			<label>紹介元</label>
			<select id="referrer" th:field="*{referrer.referrerId}" onchange="showReferrerFee()"></select>
		</div>
		-->
		<div>
			<label>紹介料:</label> <span id="referrerFee" th:text="*{agent.agentFee}"/></span>
		</div>
		<div>
			<label>備考:</label> <input type="text" th:field="*{remarks}" />
		</div>
		<input type="submit" value="更新" />
	</form>
	<form th:action="@{/recruit/candidates/{id}/delete(id=*{candidateId})}"
		th:object="${candidate}" onsubmit="return confirmDeleteCandidate()">
		<input type="submit" value="削除" />
	</form>

	<br>


</body>
</html>