<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Login page</title>
<style>
.alert-danger {
	color: red;
}
</style>
</head>
<body>
	<h2>候補者登録画面</h2>

	<form th:action="@{/recruit/candidates/{id}(id=*{candidateId})}" th:method="post" th:object="${candidate}">
		<div>
			<label>候補者</label>
			<input type="text" th:field="*{candidateName}" />
		</div>
		<div>
			<label>性別</label>
			<input type="radio" name="gender" value="1" th:field="*{gender}"/>男性
			<input type="radio" name="gender" value="2" th:field="*{gender}"/>女性
		</div>
		<div>
			<label>学歴</label>
			<input type="text" th:field="*{eduBack}" />
		</div>
		<div>
			<label>選考ステータス</label>
			<select th:field="*{slcStatus.slcStatusId}">
				<option th:each="slcStatus: ${slcStatusList}" th:value="${slcStatus.slcStatusId}" th:text="${slcStatus.slcStatusName}">
			</select>
		</div>
		<div>
			<label>選考ステータス詳細</label>
			<select th:field="*{slcStatusDtl.slcStatusDtlId}">
				<option th:each="slcStatusDtl: ${slcStatusDtlList}" th:value="${slcStatusDtl.slcStatusDtlId}" th:text="${slcStatusDtl.slcStatusDtlName}">
			</select>
		</div>
		<div>
			<label>採用エージェント</label>
			<select th:field="*{agent.agentId}" >
				<option th:each="agent: ${agentList}" th:value="${agent.agentId}" th:text="${agent.agentName}">
			</select>
		</div>
		<div>
			<label>紹介元</label>
			<select th:field="*{referrer.referrerId}">
				<option th:each="referrer: ${referrerList}" th:value="${referrer.referrerId}" th:text="${referrer.referrerName}">
			</select>
		</div>
		<input type="submit" value="更新"/>
	</form>
	<form th:action="@{/recruit/candidates/{id}/delete(id=*{candidateId})}" th:object="${candidate}">
		<input type="submit" value="削除"/>
	</form>



	<br>


</body>
</html>