<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>DashBoard</title>
</head>
<body>
	<h2>ダッシュボード</h2>
	<table>
		<tr>
			<td>
				<form th:action="@{/recruit/candidates}" th:method="get" th:object="${conditionsForm}">
					<input type="hidden" th:name="slcStatusId" th:value="${1}"/>
					<button type="submit" name="aaa" value="aaa">
						<div th:text="${ttlSttAll.selectionStatusName}"></div>
						<div th:text="${ttlSttCount}"></div>
					</button>
				</form>
			</td>
			<td th:each="ttlStt: ${ttlSttList}">
				<form th:action="@{/recruit/candidates}" th:method="get" th:object="${conditionsForm}">
					<input type="hidden" th:name="slcStatusId" th:value="${ttlStt.selectionStatusId}"/>
					<button type="submit" name="aaa" value="aaa">
						<div th:text="${ttlStt.selectionStatusName}"></div>
						<div th:text="${ttlStt.count}"></div>
					</button>
				</form>
			</td>
		</tr>
	</table>
	<!-- <table border="1">
		<tr>
			<th th:each="msgSttList : ${slcStt}"
			th:text="${msgSttList.statusMessage}"></th>
		</tr>
		<tr>
			<td th:text="${allTtlSttViw}"></td>
			<td th:each="TotalStatusView : ${ttlSttViw}"
				th:object="${TotalStatusView}" th:text="*{count}"></td>
		</tr>
	</table> -->
	<!-- <table border="1">
		<tr>
			<th th:each="chkSttList : ${chkStt}"
			 th:text="${chkSttList.statusMessage}"></th>
		</tr>
		<tr>
			<td th:text="${ttlChkViwCnt}"></td>
			<td th:each="TotalCheckView : ${ttlChkViw}"
				th:object="${TotalCheckView}"></td>
		</tr>
	</table> -->


	<!-- <table border="1">
		<tr>
			<th th:text="${adjustment}"></th>
		</tr>
		<tr>
			<td th:text="${allCheck}"></td>
		</tr>
	</table>
	<table border="1">
		<tr>
			<th th:each="CheckMessageRepository : ${chkMsg}"
				th:object="${CheckMessageRepository}" th:text="*{message}"></th>
		</tr>
		<tr>
			<td th:each="TotalCheckRepository : ${ttlChk}"
				th:object="${TotalCheckRepository}" th:text="*{count}"></td>
		</tr>
	</table>
 -->


</body>
</html>