<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>DashBoard</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script th:src="@{/js/sideMenu.js}" type="text/javascript"></script>
<link th:href="@{/css/dashboard.css}" rel="stylesheet"></link>
<link th:href="@{/css/sideMenu.css}" rel="stylesheet"></link>
</head>

<body>
	<!-- サイドメニュー -->
	<div class="side_menu">
		<div th:include="side_menu::sideMenu"></div>
	</div>

	<!-- ダッシュボード -->
	<div class="main">
		<div class="ttlSlc">
			<div class="inline">
				<form th:action="@{/recruit/candidates}" th:method="get"
					th:object="${conditionsForm}">
					<input type="hidden" th:name="slcStatusId" th:value="${0}" /> <input
						type="hidden" th:name="slcStatusDtlId" th:value="${0}" />
					<button class="slc_all_btn" type="submit" name="aaa" value="aaa">
						<div th:text="${ttlSlcAll.statusMessage}"></div>
						<div class="text" th:text="${ttlSlcAllCount}"></div>
						<img th:src="${ttlSlcAll.icon}">
					</button>
				</form>
			</div>
			<div class="inline">
				<div class="count" th:each="ttlSlc: ${ttlSlcList}"
					th:object="${ttlSlc}">
					<form th:action="@{/recruit/candidates}" th:method="get"
						th:object="${conditionsForm}">
						<input type="hidden" th:name="slcStatusId"
							th:value="${ttlSlc.selectionStatusId}" />
						<button class="slc_btn" type="submit" name="aaa" value="aaa">
							<div th:text="${ttlSlc.statusMessage}"></div>
							<div th:if="${ttlSlc.selectionStatusId != 8}">
								<div class="text" th:text="${ttlSlc.count}"></div>
							</div>
							<div th:if="${ttlSlc.selectionStatusId == 8}">
								<div class="text" th:text="${aptFlgCount}"></div>
							</div>
							<img th:src="${ttlSlc.icon}">
						</button>
					</form>
				</div>
			</div>
		</div>




		<div class="ttlChk">
			<div class="chk_all_btn">
				<form th:action="@{/recruit/candidates}" th:method="get"
					th:object="${conditionsForm}">
					<input type="hidden" th:name="slcStatusId" th:value="${0}" /> <input
						type="hidden" th:name="slcStatusDtlId" th:value="${-1}" />
					<button class="chk_btn" type="submit" name="aaa" value="aaa">
						<div class="text" th:text="${ttlChkAll.statusMessage}"></div>
						<div th:text="${ttlChkAllCount}"></div>
					</button>
				</form>
			</div>

			<div class="chk_btn_right">
				<div class="count" th:each="ttlChk: ${ttlChkList}"
					th:object="${ttlChk}">
					<form th:action="@{/recruit/candidates}" th:method="get"
						th:object="${conditionsForm}">
						<input type="hidden" th:name="slcStatusId"
							th:value="${ttlChk.selectionStatusId}" /> <input type="hidden"
							th:name="slcStatusDtlId"
							th:value="${ttlChk.selectionStatusDetailId}" />
						<div
							th:if="${ttlChk.selectionStatusDetailId == 2
								|| ttlChk.selectionStatusDetailId == 6
								|| ttlChk.selectionStatusDetailId == 8}">
							<input type="hidden" th:name="to" th:value="${today}" />
						</div>
						<button class="chk_btn" type="submit" name="aaa" value="aaa">
							<div  class="text" th:text="${ttlChk.statusMessage}"></div>
							<div th:if="${ttlChk.selectionStatusId == 9}">
								<div th:text="${ttlChkCount}"></div>
							</div>
							<div th:unless="${ttlChk.selectionStatusId == 9}">
								<div
									th:text="${(ttlChk.selectionStatusId == 1 && ttlChk.selectionStatusDetailId == 2)
							|| (ttlChk.selectionStatusId == 2 && ttlChk.selectionStatusDetailId == 2)
							|| (ttlChk.selectionStatusId == 3 && ttlChk.selectionStatusDetailId == 2)
							|| (ttlChk.selectionStatusId == 4 && ttlChk.selectionStatusDetailId == 2)
							|| (ttlChk.selectionStatusId == 5 && ttlChk.selectionStatusDetailId == 2)
							|| (ttlChk.selectionStatusId == 6 && ttlChk.selectionStatusDetailId == 6)
							|| (ttlChk.selectionStatusId == 7 && ttlChk.selectionStatusDetailId == 8)}?
							${ttlChk.totalOverDate} : ${ttlChk.totalCount}">
								</div>
							</div>
						</button>
					</form>
				</div>



				<div class="tskType">
					<div class="count">
						<form th:action="@{/recruit/candidates}" th:method="get"
							th:object="${conditionsForm}">
							<input type="hidden" th:name="slcStatusDtlId" th:value="${1}" />
							<button class="ttl_chk_btn">
								<div class="text" th:text="${statusByTskType[0]}"></div>
								<div th:text="${ttlCountByTskType[0]}"></div>

							</button>
						</form>
					</div>
					<div class="count">
						<form th:action="@{/recruit/candidates}" th:method="get"
							th:object="${conditionsForm}">
							<input type="hidden" th:name="slcStatusDtlId" th:value="${2}" />
							<input type="hidden" th:name="to" th:value="${today}" />
							<button class="ttl_chk_btn">
								<div class="text" th:text="${statusByTskType[1]}"></div>
								<div th:text="${ttlCountByTskType[1]}"></div>
							</button>
						</form>
					</div>
					<div class="count">
						<form th:action="@{/recruit/candidates}" th:method="get"
							th:object="${conditionsForm}">
							<input type="hidden" th:name="slcStatusDtlId" th:value="${3}" />
							<button class="ttl_chk_btn">
								<div class="text" th:text="${statusByTskType[2]}"></div>
								<div th:text="${ttlCountByTskType[2]}"></div>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="ltsPln">
			<form th:action="@{/recruit/candidates}" th:method="get"
				th:object="${conditionsForm}">
				<div class="box-3">
					<div class="btn btn-three">
						<button type="submit" name="aaa" value="aaa">今日明日の面接予定一覧</button>
					</div>
				</div>
				<input type="hidden" th:name="from" th:value="${today}" /> <input
					type="hidden" th:name="to" th:value="${tomorrow}" />
			</form>

			<div th:if="${result}">
				<table>
					<tr>
						<th>時間</th>
						<th>候補者名</th>
						<th>ステータス</th>
					</tr>
					<tr th:each="ltsPln: ${ltsPlnList}" th:object="${ltsPln}">
						<td th:text="${ltsPln.selectionDate}"></td>
						<td th:text="${ltsPln.candidateName}"></td>
						<td th:text="${ltsPln.selectionStatusName}"></td>
					</tr>
				</table>
			</div>
			<div th:unless="${result}">
				<p>直近の面接予定はありません</p>
			</div>
		</div>
	</div>

</body>
</html>