<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>MasterMaintenance</title>
</head>
<body>
	<div th:replace="header :: header_fragment" class="header"></div>
	<h2>マスタメンテナンス</h2>
	<form th:action="@{/maintenance/user}" th:method="get">
		<button type="submit" name="aaa" value="aaa">社員マスタ</button>
	</form>
	<form th:action="@{/maintenance/candidate}" th:method="get">
		<button type="submit" name="aaa" value="aaa" disabled>候補者マスタ</button>
	</form>
	<br>

</body>
</html>