<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>PasswordSetting</title>

</head>

<body>

<header>
	<a th:href="@{/dashboard}"><img th:src="@{/images/TCLogo.png}" width="70px" height="50px"></a>
</header>

	<h3>パスワード設定</h3>
		<table>
			<tr>
				<td th:text="${message}" style="color: red;"></td>
			</tr>
		</table>

	<form name="passwordRegist" th:object="${passwordRegist}"
			th:action="@{/password/regist}" method="post">

	<label>ユーザー名</label>

	<!-- 課題69,70　未入力チェック追加　7/14 湯澤 -->
	<input type="text" name="username" placeholder="TC-〇〇〇〇" pattern="(TC-)[0-9]{4}" maxlength="7" required>
	<br>
	<label>パスワード</label>

	<!-- 課題95 入力制限　7/15 湯澤 -->
	<input type="password" name="password" placeholder="4文字以上、20文字以内" pattern="[a-zA-Z0-9]{4,20}" maxlength="20" required>
	<br>
	<label>パスワード確認</label>
	<input type="password" name="password" pattern="[a-zA-Z0-9]{4,20}" maxlength="20" required>
	<br>
	<input type="submit" value="登録">
	</form>

</body>
</html>