<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>PasswordSetting</title>
</head>

<body>
	<h3>パスワード設定</h3>
		<table>
			<tr>
				<td th:text="${message}"></td>
			</tr>
		</table>

	<form name="passwordRegist" th:object="${passwordRegist}"
			th:action="@{/password/regist}" method="post">

	<label>ユーザー名</label>
	<input type="text" name="username">
	<br>
	<label>パスワード</label>
	<input type="password" name="password">
	<br>
	<label>パスワード確認</label>
	<input type="password" name="password">
	<br>
	<input type="submit" value="登録">
	</form>

</body>
</html>