<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link th:href="@{/css/sideMenu.css}" rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script>
	// オーバーレイ作成
	$('#contents').prepend('<div class="overlay"></div>');

	// アイコンをクリックしたら
	$('.navBtn').click(function() {
		$('header').toggleClass('navOpen'); // class付与/削除
		$('#wrap').toggleClass('fixed'); // コンテンツを固定/解除
		$('.overlay').toggle(); // オーバーレイ表示/非表示

		// スマホナビゲーションがヘッダーに被らないようにする
		var headerH = $('header').outerHeight();
		if ($('header').hasClass('navOpen')) {
			$('header nav').css('marginTop', headerH + 'px'); //ヘッダーの高さ分マージンを付ける
		}
	});

	// オーバーレイをクリックしたら
	$('.overlay').click(function() {
		$(this).fadeOut(300); // オーバーレイ非表示
		$('header').removeClass('navOpen'); // class削除
		$('#wrap').removeClass('fixed'); // 固定解除
	});
</script>
</head>
<body>
	<div th:fragment="sideMenu">
		<div id="wrap">
			<header>
				<div class="inner">
					<p class="navBtn">
						<span></span> <span></span> <span></span>
					</p>
					<nav role='navigation'>
						<ul style="list-style: none;">
							<li><a th:href="@{/maintenance}">マスタメンテナンス</a></li>
							<li><a th:href="@{/setting}">画面設定</a></li>
						</ul>
					</nav>
				</div>
			</header>
		</div>
	</div>

</body>
</html>