<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
<link th:href="@{/css/sideMenu.css}" rel="stylesheet"></link>
<script th:src="@{/js/dashBoard.js}" type="text/javascript"></script>

</head>
<body>
	<div th:fragment="sideMenu">

		<div class="header"></div>
		<input type="checkbox" id="openSidebarMenu" onchange="OpenSideBar()">
		<label for="openSidebarMenu" class="sidebarIconToggle"> <span
			class="spinner diagonal part-1"></span> <span
			class="spinner horizontal"></span> <span
			class="spinner diagonal part-2"></span>
		</label>
		<div id="sidebarMenu">
			<div class="sidebarMenuInner">
						<a th:href="@{/maintenance}">
							<button class="side_btn" type="button">マスタメンテナンス</button>
						</a>
						<a th:href="@{/setting}">
							<button class="side_btn" type="button">画面設定</button>
						</a>
			</div>

		</div>
		</div>
	<!-- <button class="side_btn" th:href="@{/maintenance}">マスタメンテナンス</button>
	<button class="side_btn" th:href="@{/setting}">画面設定</button> -->
</body>
</html>

