.danger_box {
	background-color: #FFEFEF;
	margin: 0 auto;
	padding: 8px;
	border: 1px solid #D4440D;
	line-height: 0px;
	clear: both;
	background-position: 5px 5px;
	height: 0.8em;
	width: 70%;
	margin-bottom: 10px;

}

.danger_box .ertxt {
	color: #D4440D;
	margin: 0 auto;
	padding-top: 8px;
	font-family: sans-serif;
}