<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>選考情報変更画面</title>
<style>
.alert-danger {
	color: red;
}
</style>
<script type="text/javascript" th:inline="javascript">
	/**
	 * 選考結果も設定
	 *
	 */
	function setSlcResult(slcStatusDtlId) {
		//選考ステータス詳細が1(調整中)、2(選考中)の場合、選考結果を保留中(0)
		if (slcStatusDtlId >= 3 && slcStatusDtlId <= 9) {
			document.getElementById('slcResult').value = slcStatusDtlId;
		} else {
			document.getElementById('slcResult').value = '0';
		}
	}

	/**
	 * 日程登録確認(日程が被っている場合)
	 *
	 */
	function confirmSlcDate() {
		var candidateList = [];
		var candidateId = /*[[${candidate.candidateId}]]*/
		var slcStatusId = /*[[${candidate.slcStatus.slcStatusId}]]*/
		var slcDate = document.getElementById("slcDate").value
							  .replace("-","/").replace("-","/")
							  .substring(0, 10);

		//面接、入社手続きのステータスでない場合、submit
		if (slcStatusId <= 2 || slcStatusId == 6 || slcStatusId == 8) {
			return confirmUpdateSelection();
		}

		//選考日程が登録されている候補者情報を取得
		[# th:each="candidates: ${candidatesHasSlcDate}"]
			var candidate = {id:/*[[${candidates.candidateId}]]*/, name:/*[[${candidates.candidateName}]]*/,
				slcStatus:/*[[${candidates.slcStatusName}]]*/, slcDate:/*[[${candidates.slcDate}]]*/};
			var slcStatusId = /*[[${candidates.slcStatusId}]]*/;

			if (candidateId == candidate.id && slcDate == candidate.slcDate.substring(0, 10)) {
				//フォームの候補者IDと日程の値がリストの値と等しい
				//すなわち、日程が変更されていない場合、通常の変更確認
				return confirmUpdateSelection();
			}

			if ((slcStatusId >= 3 && slcStatusId <= 5) || slcStatusId == 7) {
				candidateList.push(candidate);
			}
		[/]


		var flag = false;


		// 選考日程が被っているか判定
		for (var i = 0; i < candidateList.length; i++) {
			if (slcDate == candidateList[i].slcDate.substring(0, 10)) {
				var message = "同日に予定があります。\n"
							+ "\nID:"+ candidateList[i].id
							+"\n氏名:" + candidateList[i].name
							+"\n選考ステータス:" + candidateList[i].slcStatus
							+"\n日程:" + candidateList[i].slcDate;
				alert(message);

				flag = true;
			}
		}

		// 過去かどうか判定する？
		// その場合、日付の処理方法を変更する必要あり

		//変更確認
		if(flag) {
			if(window.confirm("同日に予定がありますが、変更しますか？")){

				return true;

			} else{

				return false;

			}
		} else {
			//日程が被っていない場合も変更確認
			return confirmUpdateSelection();
		}

	}

	//選考ステータス詳細（全件）
	var slcStatusDtlAll = [];
	var slcReferrerAll = [];
	/**
	 * ロード時、選考ステータス詳細検索のドロップダウンの初期設定
	 *
	 */
	 function setFirstSlcStatusDtl() {
		//選考ステータス詳細の情報を取得
		[# th:each="slcStatusDtl: ${slcStatusDtlList}"]
			var slcStatusDtl = {id:/*[[${slcStatusDtl.slcStatusDtlId}]]*/, name:/*[[${slcStatusDtl.slcStatusDtlName}]]*/,
				flag:/*[[${slcStatusDtl.slcStatusFlag}]]*/};

			slcStatusDtlAll.push(slcStatusDtl);
		[/]

		//選考参照情報を取得
		[# th:each="slcReferrer: ${slcReferrerList}"]
			var slcReferrer = {id:/*[[${slcReferrer.selectionReferrerId}]]*/, slcId:/*[[${slcReferrer.slcStatus.slcStatusId}]]*/,
				slcName:/*[[${slcReferrer.slcStatus.slcStatusName}]]*/, slcDtlId:/*[[${slcReferrer.slcStatusDtl.slcStatusDtlId}]]*/,
				slcDtlName:/*[[${slcReferrer.slcStatusDtl.slcStatusDtlName}]]*/};

			slcReferrerAll.push(slcReferrer);
		[/]

		//選考ステータス詳細検索のドロップダウンを設定
		setSlcStatusDtl() ;

		//選考ステータス詳細検索のドロップダウン
		var slcStatusDtl = document.getElementById("slcResult");
		//ドロップダウンを保持された検索条件と同じ値を選択
		for (var i = 0; i < slcStatusDtl.length; i++) {
			if (slcStatusDtl[i].value == /*[[${candidate.slcStatusDtl.slcStatusDtlId}]]*/) {
				slcStatusDtl[i].selected = true;
			}
		}
		//alert('動作確認');
	}

	 /**
		 * 選考ステータス詳細検索のドロップダウンを設定
		 *
		 */
		 function setSlcStatusDtl() {
			//選考ステータス検索の選択値
			var selectedSlcStatus = document.getElementById("slcStatus").textContent;
			//選考ステータス詳細検索のドロップダウン
			var slcStatusDtl = document.getElementById("slcResult");
			//ドロップダウンの設定値（共通項目設定済）
			var slcStatusDtlList = [];//[{id:0, name:"一覧"}];


			/*
			if (selectedSlcStatus == 0) {
				//選考ステータス検索の選択値が「一覧」の場合、全ての選考ステータス詳細を追加
				for (var i = 0; i < slcStatusDtlAll.length; i++) {
					slcStatusDtlList.push(slcStatusDtlAll[i]);
				}
			}
			if (selectedSlcStatus == 0) {
				//選考ステータス詳細検索のドロップダウンに値を設定
				 for (var i = 0; i < slcStatusDtlList.length; i++) {
					var op = document.createElement("option");
					op.value = slcStatusDtlList[i].id;
					op.text = slcStatusDtlList[i].name;
					slcStatusDtl.appendChild(op);
				}
			}else{
			*/
				//選考参照情報に基づいて選考ステータス詳細を設定
				for (var i = 0; i < slcReferrerAll.length; i++) {
					if(selectedSlcStatus == slcReferrerAll[i].slcName){
						slcStatusDtlList.push(slcReferrerAll[i]);
					}
				}
				//alert(selectedSlcStatus);

			//選考ステータス詳細検索のドロップダウンを初期化
			 slcStatusDtl.textContent = null;


				//選考ステータス詳細検索のドロップダウンに値を設定
				 for (var i = 0; i < slcStatusDtlList.length; i++) {

						var op = document.createElement("option");
						op.value = slcStatusDtlList[i].slcDtlId;
						op.text = slcStatusDtlList[i].slcDtlName;
						slcStatusDtl.appendChild(op);

				}
		}

	/**
	 * 更新確認(日程が被っていない場合)
	 *
	 */
	function confirmUpdateSelection() {
		if(window.confirm("この内容で更新しますか？")){
			return true;
		} else{
			return false;
		}
	}

	/**
	 * ステータス繰り上げ確認
	 *
	 */
	function confirmPromoteSlcStatus() {
		if(window.confirm("次の選考ステータスに進みますが、よろしいですか？")){
			return true;
		} else{
			return false;
		}
	}
</script>
</head>
<body th:onload="setSlcResult([[${candidate.slcStatusDtl.slcStatusDtlId}]]); window.opener.location.reload();setFirstSlcStatusDtl()">
	<header>
		<img th:src="@{/images/TCLogo.png}">
	</header>
	<h2>選考情報変更画面</h2>
	<form th:action="@{/recruit/candidates/selection}" th:method="post" th:object="${candidate}" onsubmit="return confirmSlcDate()">
		<div>
			<label>ID</label>
			<div th:text="*{candidateId}">/</div>
		</div>
		<div>
			<label>候補者</label>
			<div th:text="*{candidateName}">/</div>
		</div>
		<div>
			<label>採用エージェント</label>
			<div th:text="*{agent.agentName}"></div>
		</div>
		<div>
			<label>選考ステータス</label>
			<div id="slcStatus"  th:value="*{slcStatus.slcStatusId}" th:text="*{slcStatus.slcStatusName}"></div>
			<input type="hidden"  name="slcStatus" th:value="*{slcStatus.slcStatusId}"/>
		</div>
		<div>
			<label th:if="*{slcStatus.slcStatusId <= 5}">選考日程</label>
			<label th:if="*{slcStatus.slcStatusId == 6}">承諾期限</label>
			<label th:if="*{slcStatus.slcStatusId == 7 && slcStatusDtl.slcStatusDtlId != 9}">入社手続き日程</label>
			<input th:if="*{slcStatusDtl.slcStatusDtlId != 9}" id="slcDate" type="datetime-local" name="slcDateString" th:value="${slcDateString}" />
		</div>
		<div>
			<div th:if="*{slcStatus.slcStatusId >= 1 && slcStatus.slcStatusId <= 5}">
				<label>選考結果</label>
				<select name="slcResult" id="slcResult">
					<!--
					<option value="0" selected>保留</option>
					<option value="3">合格</option>
					<option value="4">不合格</option>
					<option value="5">辞退</option>
					-->
				</select>
			</div>
			<div th:if="*{slcStatus.slcStatusId == 6}">
				<label>内定返事</label>
				<select name="slcResult" id="slcResult">
					<!--
					<option value="6">承諾待ち</option>
					<option value="7">承諾</option>
					<option value="5">辞退</option>
					-->
				</select>
			</div>
			<div th:if="${candidate.slcStatusDtl.slcStatusDtlId == 8}">
				<label>入社手続き状況</label>
				<select name="slcResult" id="slcResult">
					<!--
					<option value="6">承諾待ち</option>
					<option value="7">承諾</option>
					<option value="5">辞退</option>
					-->
				</select>
			</div>
			<div th:if="*{slcStatus.slcStatusId == 1 || slcStatus.slcStatusId == 7}">
				<input type="hidden" name="slcResult" th:value="*{slcStatusDtl.slcStatusDtlId}">
			</div>
		</div>
		<input type="hidden" th:field="${selection.slcPK.candidateId}" />
		<input type="hidden" th:field="${selection.slcPK.slcStatusId}" />
		<input th:if="*{slcStatusDtl.slcStatusDtlId != 9}" type="submit" value="更新"/>
	</form>
		<form th:action="@{/recruit/candidates/seleciton/nextStatus}" th:method="post" onsubmit="return confirmPromoteSlcStatus()">
			<input type="hidden" name="candidateId" th:value="${candidate.candidateId}">
			<div th:if="${candidate.slcStatusDtl.slcStatusDtlId == 3}">
				<div th:if="${candidate.slcStatus.slcStatusId != 5}">
					<input type="submit" value="次選考調整"/>
				</div>
				<div th:if="${candidate.slcStatus.slcStatusId == 5}">
					<input type="submit" value="内定通知"/>
				</div>
			</div>
			<div th:if="${candidate.slcStatusDtl.slcStatusDtlId == 7}">
				<input type="submit" value="入社手続き調整"/>
			</div>
			<div th:if="${candidate.slcStatusDtl.slcStatusDtlId == 8}">
				<input type="submit" value="入社手続き完了"/>
			</div>
		</form>
</body>
</html>