<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>masterMaintenanceOfStatus</title>
<style type="text/css">
.input {
	float: left;
	margin: 10px;
}
</style>
<script type="text/javascript" th:src="@{/js/masterMaintenanceUser.js}"></script>
<script type="text/javascript">
	function submitAction(url) {
		document.User.action = '/maintenance/user' + url;
		document.User.submit();
	}
</script>
</head>
<body>
	<h2>マスタメンテナンス</h2>
	<div class="input">
		<p>社員マスタ</p>
		<form th:name="User" th:object="${User}" th:method="post"
			th:action="@{/maintenance/user/sarch}">
			<input type="text" name="sarchWord" th:value="${userArray}">

			<label>
				<input type="checkbox" value="ROLE_ADMIN"
				name="sarchCheckboxAdmin"
				th:checked="${User.sarchAuthorityAdmin == 1}"
				onchange="buttonCheckAuthorityAdmin()">管理者
			</label>
				<input
				type="hidden" value="0" name="sarchAuthorityAdmin"
				th:field="*{sarchAuthorityAdmin}">

			<label>
				<input
				type="checkbox" value="ROLE_USER" name="sarchCheckboxUser"
				th:checked="${User.sarchAuthorityUser == 1}"
				onchange="buttonCheckAuthorityUser()">一般
			</label>
				<input
				type="hidden" value="0" name="sarchAuthorityUser"
				th:field="*{sarchAuthorityUser}">

			<label>
				<input
				type="checkbox" value="0" name="sarchCheckbox"
				th:checked="${User.sarchStatusBoolean == 1}"
				onchange="buttonCheckStatus()">無効ユーザーを除く
			</label>
				<input
				type="hidden" value="0" th:field="*{sarchStatusBoolean}"
				name="sarchStatusBoolean">


			<button type="button"
				onclick="submitAction('/sarch')">検索</button>
			<br>

			<button type="button"
				onclick="submitAction('/update')">一括変更</button>

			<table border=1>
				<tr>
					<td>
						<button name="sortUsername" type="button" value="0"
							onclick="sort(1);submitAction('/sarch')">ユーザ―名</button>
							<input type="hidden" name="sortUsername" value="0">
					</td>
					<td>
						<button name="sortLastName" type="button" value="0"
							onclick="sort(2);submitAction('/sarch')">姓</button>
						<input type="hidden" name="sortLastName" value="0">
					</td>
					<td>
						<button name="sortFirstName" type="button" value="0"
							onclick="sort(3);submitAction('/sarch')">名</button>
						<input type="hidden" name="sortFirstName" value="0">
					</td>
					<td>
						<button name="sortAuthority" type="button" value="0"
							onclick="sort(4);submitAction('/sarch')">権限</button>
						<input type="hidden" name="sortAuthority" value="0">
					</td>
					<td>
						<button name="sortStatus" type="button" value="0"
							onclick="sort(5);submitAction('/sarch')">有効/無効</button>
						<input type="hidden" name="sortStatus" value="0">
					</td>

				</tr>
				<tr th:each="usr: ${usrList}" class="user">
					<td><input id="username" th:name="username"
						th:value="${usr.username}" onChange="alertValue(this)"> <input
						type="hidden" th:name="password" th:value="${usr.password}">
						<input type="hidden" th:name="id" th:value="${usr.id}"></td>
					<td><input id="lastName" th:name="lastName"
						th:value="${usr.lastName}" onChange="alertValue(this)"></td>
					<td><input id="firstName" th:name="firstName"
						th:value="${usr.firstName}" onChange="alertValue(this)"></td>
					<td><div th:if="${usr.authority.name() == 'ROLE_ADMIN'}">
							<select name="authority" id="authority">
								<option value="ROLE_ADMIN" selected>管理者</option>
								<option value="ROLE_USER">一般</option>
							</select>
						</div>
						<div th:if="${usr.authority.name() == 'ROLE_USER'}">
							<select name="authority" id="authority">
								<option value="ROLE_ADMIN">管理者</option>
								<option value="ROLE_USER" selected>一般</option>
							</select>
						</div></td>

					<td>
						<div th:if="${usr.status == 0}">
							<input type="hidden" name="statusBoolean"
								value="0"> <input type="checkbox"
								name="status" checked value="0" onchange="buttonChecked()">無効
						</div>
						<div th:if="${usr.status == 1}">
							<input type="hidden" name="statusBoolean"
								value="1"> <input type="checkbox"
								name="status" value="1" onchange="buttonChecked()">無効
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>


	<div class="input">
		<label>csv取込</label>
				<table>
					<tr th:each="message : ${message}" th:object="${message}">
						<td th:text="${message}"></td>
					</tr>
				</table>
		<form name="UploadUser" th:object="${UploadUser}" th:action="@{/maintenance/user/upload}"
			method="post" enctype="multipart/form-data">

			<input type="file" name="userlist.csv" /><br />
			<button type="submit">upload</button>
		</form>
	</div>
</body>
</html>