<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet"
	href="./webjars/bootstrap/3.3.1/css/bootstrap.min.css" type="text/css"></link>
<script type="text/javascript"
	src="./webjars/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript"
	src="./webjars/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./javascript/data_upload_view.js"></script>
<script type="text/javascript" src="./javascript/common.js"></script>
<script type="text/javascript"
	src="./javascript/datetimepicker/jquery.datetimepicker.js"></script>
<title>masterMaintenanceOfStatus</title>
<style type="text/css">
.input {
	float: left;
	margin: 10px;
}
</style>
</head>
<body>
	<h2>マスタメンテナンス</h2>
	<div class="input">
		<p>社員マスタ</p>
		<form th:name="User" th:action="@{/maintenance/user/update}"
			th:object="${User}" th:method="post">
			<input type="submit" value="一括変更">
			<table border=1>
				<tr>
					<td>ユーザ―名</td>
					<td>姓</td>
					<td>名</td>
					<td>権限</td>
					<td>有効/無効</td>
				</tr>
				<tr th:each="usr: ${usrList}">
					<td><input th:name="username" th:value="${usr.username}">
						<input type="hidden" th:name="password" th:value="${usr.password}">
						<input type="hidden" th:name="id" th:value="${usr.id}"></td>
					<td><input th:name="lastName" th:value="${usr.lastName}">
					</td>
					<td><input th:name="firstName" th:value="${usr.firstName}">
					</td>
					<td><div th:if="${usr.authority.name() == 'ROLE_ADMIN'}">
							<select name="authority" id="authority">
								<option value="ROLE_ADMIN" selected>管理者</option>
								<option value="ROLE_USER">一般</option>
							</select>
						</div>
						<div th:if="${usr.authority.name() == 'ROLE_USER'}">
							<select name="authority" id="authority">
								<option value="ROLE_ADMIN">管理者</option>
								<option value="ROLE_USER" selected>一般</option>
							</select>
						</div></td>

					<td>
						<div th:if="${usr.status == 0}">
							<input type="hidden" name="status" value="1"> <input
								type="checkbox" name="status" value="0" checked="checked">無効
						</div>
						<div th:if="${usr.status == 1}">
							<input type="hidden" name="status" value="1"> <input
								type="checkbox" name="status" value="0">無効
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>


	<div class="input">
	<label>csv取込</label>
	  <form name="uploadForm" action="/maintenance/sample/upload" th:action="@{/maintenance/sample/upload}" method="post" enctype="multipart/form-data">
        <input type="file" name="namelist.csv"/><br />
        <button type="submit">upload</button>

    </form>
						<!-- <div>アップロードするファイルを選択して、アップロードボタンを押下してください。</div>
						<br />
						<form th:name="User" id="data_upload_form" th:action="@{/maintenance/user/csvCapture}"
			th:object="${User}" th:method="post" enctype="multipart/form-data">
							<div class="form-group">
								<label>■ファイルパス：</label> <input type="file" id="upload_file"
									name="upload_file" required="" />
							</div>
							<div class="form-group">
								<input id="data_upload_button" type="submit" value="アップロード" />
							</div>
						</form> -->
					</div>
</body>
</html>