<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>masterMaintenanceOfStatus</title>
<style type="text/css">
.input {
	float: left;
	margin: 10px;
}
</style>
<script type="text/javascript" th:src="@{/js/masterMaintenanceUser.js}"></script>
<script type="text/javascript">
	function submitAction(url) {
		document.User.action = '/maintenance/user' + url;
		document.User.submit();
	}
</script>
</head>
<body>
	<h2>マスタメンテナンス</h2>
	<div class="input">
		<p>社員マスタ</p>
		<form th:name="User" th:object="${User}" th:method="post" th:action="@{/maintenance/user/sarch}">
			<input type="text" name="sarchWord" th:value="${userArray}">

			<label><input type="checkbox" value="ROLE_ADMIN" class="sarchCheckboxAdmin"
				 th:checked="${User.sarchAuthorityAdmin == 0}" name="authority" onchange="buttonCheckAuthorityAdmin()">管理者</label>
			<input type="hidden" value="1" class="sarchAuthorityAdmin"  th:field="*{sarchAuthorityAdmin}">

			<label><input type="checkbox" value="ROLE_USER" class="sarchCheckboxUser"
				 th:checked="${User.sarchAuthorityUser == 1}" name="authority" onchange="buttonCheckAuthorityUser()">一般</label>
			<input type="hidden" value="0" class="sarchAuthorityUser" th:field="*{sarchAuthorityUser}">


			<label><input type="checkbox" value="0" th:field="*{status}" class="sarchCheckbox"
				 th:checked="${User.sarchStatusBoolean == 0}" onchange="buttonCheckStatus()">無効ユーザーを除く</label>
			<input type="hidden" value="1" th:field="*{sarchStatusBoolean}" class="sarchStatusBoolean">


			<button id="sarchButton" type="button"
				onclick="submitAction('/sarch')">検索</button>
			<br>

			<button id="updateButton" type="button"
				onclick="submitAction('/update')">一括変更</button>
			<table border=1>
				<tr>
					<td><button class="usernameBtn" type="button" value="1" th:field="sort" onclick="sort(1)">ユーザ―名</button></td>
					<td><button class="lastNameBtn" type="button" onclick="sort(2)">姓</button></td>
					<td><button class="firstNameBtn" type="button" onclick="sort(3)">名</button></td>
					<td><button class="authorityBtn" type="button" onclick="sort(4)">権限</button></td>
					<td><button class="statusBtn" type="button" onclick="sort(5)">有効/無効</button></td>
				</tr>
				<tr th:each="usr: ${usrList}" class="user">
					<td><input id="username" th:name="username"
						th:value="${usr.username}" onChange="alertValue(this)"> <input
						type="hidden" th:name="password" th:value="${usr.password}">
						<input type="hidden" th:name="id" th:value="${usr.id}"></td>
					<td><input id="lastName" th:name="lastName"
						th:value="${usr.lastName}" onChange="alertValue(this)"></td>
					<td><input id="firstName" th:name="firstName"
						th:value="${usr.firstName}" onChange="alertValue(this)"></td>
					<td><div th:if="${usr.authority.name() == 'ROLE_ADMIN'}">
							<select name="authority" id="authority">
								<option value="ROLE_ADMIN" selected>管理者</option>
								<option value="ROLE_USER">一般</option>
							</select>
						</div>
						<div th:if="${usr.authority.name() == 'ROLE_USER'}">
							<select name="authority" id="authority">
								<option value="ROLE_ADMIN">管理者</option>
								<option value="ROLE_USER" selected>一般</option>
							</select>
						</div></td>

					<td>
						<div th:if="${usr.status == 0}">
							<input type="hidden" class="statusBoolean" name="statusBoolean"
								value="0"> <input type="checkbox" class="checkbox"
								name="status" checked value="0" onchange="buttonChecked()">無効
						</div>
						<div th:if="${usr.status == 1}">
							<input type="hidden" class="statusBoolean" name="statusBoolean"
								value="1"> <input type="checkbox" class="checkbox"
								name="status" value="1" onchange="buttonChecked()">無効
						</div>
					</td>
				</tr>
			</table>
		</form>
	</div>


	<div class="input">
		<label>csv取込</label>
		<form name="uploadForm" th:action="@{/maintenance/user/upload}"
			method="post" enctype="multipart/form-data">
			<input type="file" name="userlist.csv" /><br />
			<button type="submit">upload</button>

		</form>
	</div>
</body>
</html>