<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>

</head>
<body>

	<div class="chart-container"
		style="position: relative; height: 50vh; width: 80vw">
		<canvas id="firstPassRateChart"></canvas>
	</div>
	<script>
        var dataLabelPlugin = {
        	afterDatasetsDraw: function (chart, easing) {
        		// To only draw at the end of animation, check for easing === 1
        		var ctx = chart.ctx;

        		chart.data.datasets.forEach(function (dataset, i) {
        			var dataSum = 0;
        				dataset.data.forEach(function (element){
        					//格納した集計値を全て足して全体を求める
        					dataSum += element;
        				});

        			var meta = chart.getDatasetMeta(i);

        			if (!meta.hidden) {
            			meta.data.forEach(function (element, index) {
            				// Draw the text in black, with the specified font
            				ctx.fillStyle = 'rgb(255, 255, 255)';

            				var fontSize = 12;
            				var fontStyle = 'normal';
            				var fontFamily = 'Helvetica Neue';
            				ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

            				// 各ラベルと各パーセンテージの格納
            				var labelString = chart.data.labels[index];
            				var dataString = (Math.round(dataset.data[index] / dataSum * 1000)/10).toString() + "%";

            				// Make sure alignment settings are correct
            				ctx.textAlign = 'center';
            				ctx.textBaseline = 'middle';

            				var padding = 5;
            				var position = element.tooltipPosition();
            				// 各ラベルと各パーセンテージを表示
            				ctx.fillText(labelString, position.x, position.y - (fontSize / 2) - padding);
            				ctx.fillText(dataString, position.x, position.y + (fontSize / 2) - padding);
         			});
                    }
                });
            }
         };

                    // Chart
                    var firstPassRateChart = "firstPassRateChart";
                    var chart = new Chart(firstPassRateChart, {
                        type: 'pie',
                        data: {
                            labels: ["合格", "不合格", "辞退"],
                            datasets: [{
                                backgroundColor: ["#68a69e", "#b6b79d", "#D9CF59"],
                                //集計データ格納場所
                                data: [30, 120, 20],
                            }]
                        },
                        options: {
                            title: {
                            	//タイトルを表示する
                                display: true,
                                text: "1次面接合格率"
                            },
                            //横幅固定
                            legend:{
                            },
                            maintainAspectRatio: false,
                        },
                        plugins: [dataLabelPlugin],
                    });
</script>
</body>

<body>
    <canvas id="myChart" style="position: relative; height: 70%; width: 80vw"></canvas>
    <script type="text/javascript">
    var dataLabelPluginA = {
        	afterDatasetsDraw: function (chart, easing) {
        		// To only draw at the end of animation, check for easing === 1
        		var ctx = chart.ctx;

        		chart.data.datasets.forEach(function (dataset, i) {
        			var dataSum = 0;
        				dataset.data.forEach(function (element){
        					//格納した集計値を全て足して全体を求める
        					dataSum += element;
        				});

        			var meta = chart.getDatasetMeta(i);

        			if (!meta.hidden) {
            			meta.data.forEach(function (element, index) {
            				// Draw the text in black, with the specified font
            				ctx.fillStyle = 'rgb(255, 255, 255)';

            				var fontSize = 12;
            				var fontStyle = 'normal';
            				var fontFamily = 'Helvetica Neue';
            				ctx.font = Chart.helpers.fontString(fontSize, fontStyle, fontFamily);

            				// 各ラベルと各パーセンテージの格納
            				var labelString = chart.data.labels[index];
            				var dataString = (Math.round(dataset.data[index] / dataSum * 1000)/10).toString() + "%";

            				// Make sure alignment settings are correct
            				ctx.textAlign = 'center';
            				ctx.textBaseline = 'middle';

            				var padding = 5;
            				var position = element.tooltipPosition();
            				// 各ラベルと各パーセンテージを表示

            				ctx.fillText(dataString, position.x, position.y + (fontSize / 2) - padding);
         			});
                    }
                });
            }
         };


    	//合格移行チャート
    	/*<![CDATA[*/
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
            	//label = 選考月
            	labels: [2020-01, 2020-02, 2020-03, 2020-04, 2020-05, 2020-06],
            	datasets:[
                	{
                    	label: '合格者',
                    	type: "line",
                    	lineTension: 0,
                    	fill: false,
                    	data: [2,3,5,1,3,2,4],
                    	borderColor: "rgb(154, 162, 235)",
                    	/* yAxisID: "y-axis-1", */
                	}, {
                    	label: '選考人数',
                    	data: [8,9,6,8,7,8,4],
                    	borderColor: "rgb(255, 99, 132)",
                    	backgroundColor: "#A2CFDE",
                    	/* yAxisID: "y-axis-2", */
                	}
            	]
            },
            options: {
                tooltips: {
                    mode: 'nearest',
                    intersect: false,
                },
                responsive: true,
                scales: {
                    yAxes: [{
                        /* id: "y-axis-1", */
                        type: "linear",
                        position: "left",
                        ticks: {
                            suggestedMax: 10,
                            suggestedMin: 0,
                            stepSize: 1
                        },
                    },
                 		/* gridLines: {
                    		drawOnChartArea: false,
                 		}, */
                    ]},
            },
            plugins: [dataLabelPluginA],
        });
        /*]]>*/

    </script>
</body>
</html>
